<form asp-controller="Home" asp-action="Search" method="get" class="form-inline my-2 my-lg-0">

    <label for="p"></label>
    <input id="q" name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <input type="submit" value="Search" class="btn btn-primary"> 
    
</form>